.header {
  border-bottom: 2px solid rgb(214, 214, 214);
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header span {
  color: gray;
  font-size: 20px;
}

.link {
  margin-top: 8px;
  font-size: 20px;
}

.subTitle {
  font-weight: 600;
  border-bottom: 2px dashed rgb(214, 214, 214);
  padding: 16px 4px 4px;
}

.subContent {
  padding: 8px;
}

.mobile video {
  width: 50%;
}

.web video {
  width: 100%;
}

.slideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide img {
  width: 576px;
}

.arrow {
  font-size: 20px;
  padding: 4px;
  cursor: pointer;
}

.table {
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.table td {
  width: 25%;
  padding: 1%;
  border: 1px solid;
}

.table img {
  width: 100%;
}