@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body {
  margin: 0;
  padding: 24px;
  height: calc(100vh - 48px);
  width: calc(100vw - 48px);
  background-image: url(../../public/img/back_pink.jpg);
}

h3 {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
}

.retro {
  font-family: "Jersey 10", sans-serif;
  letter-spacing: 1px;
}

.mint {
  color: rgb(6, 174, 204);
}
.orange {
  color: orangered;
}

.left-container {
  height: 516px;
  width: 232px;
  padding: 24px;
  border: 2px solid rgb(136, 136, 136);
  box-shadow: inset 0 0 0 16px rgb(247, 247, 247);
  border-radius: 16px;
  position: absolute;
  top: 96px;
  left: 74px;
  z-index: 10;
}

.right-container {
  height: 532px;
  width: 676px;
  padding: 16px 16px 16px 32px;
  border: 2px solid rgb(136, 136, 136);
  box-shadow: 2px 2px 2px rgba(87, 87, 87, 0.3);
  border-radius: 15px;
  background-color: #fff;
  position: absolute;
  top: 96px;
  left: 364px;
  /* z-index: 10; */
}

.content {
  padding-right: 16px;
  height: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: rgb(247, 247, 247);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(220, 220, 220);
  border: 2px solid rgb(210, 210, 210);
}

::-webkit-scrollbar-button {
  background-color: rgb(220, 220, 220);
  border: 2px solid rgb(210, 210, 210);
  background-size: auto;
  background-position: center;
}
::-webkit-scrollbar-button:vertical:decrement {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><polygon points="5,0 0,5 10,5" fill="white"/></svg>');
}
::-webkit-scrollbar-button:vertical:increment {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><polygon points="5,10 0,5 10,5" fill="white"/></svg>');
}

input[type=range] {
  -webkit-appearance: none;
  background: linear-gradient(to right, orange 0%, orange 50%, #ececec 50%, #ececec 100%);
  width: 88px;
  height: 8px;
  accent-color: orange;
  box-shadow: inset 0 -2px 2px rgb(168, 168, 168);
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px; 
  height: 12px; 
  background-color: #ececec; 
  border: 2px solid gray;
  border-radius: 8px; 
  box-shadow: inset -2px -5px 3px rgb(184, 184, 184);
  cursor: pointer;
}

input[type=text] {
  height: 32px;
  outline: none;
  border: 2px solid rgb(214, 214, 214);
}

textarea {
  height: 100%;
  resize: none;
  overflow: auto;
  border: 2px solid rgb(214, 214, 214);
}
textarea:focus {
  outline: none;
}

table {
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
td {
  width: 25%;
  padding: 1%;
  border: 1px solid;
}

table img {
  width: 100%;
}