@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import "../../node_modules/nes.css/css/nes.css";

@font-face {
  font-family: '둥근모꼴';
  font-style: normal;
  font-weight: 400;
  src: url(../../public/font/DungGeunMo.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 24px;
  height: calc(100vh - 48px);
  width: calc(100vw - 48px);
  background-image: url(../../public/img/etc/back_pink.jpg);
  font-family: "둥근모꼴";
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.mint {
  color: rgb(6, 174, 204);
}

.orange {
  color: orangered;
}

.left-container {
  height: 560px;
  width: 288px;
  padding: 20px;
  border: 2px solid rgb(136, 136, 136);
  box-shadow: inset 0 0 0 12px rgb(247, 247, 247);
  border-radius: 16px;
  position: absolute;
  top: 100px;
  left: 72px;
  z-index: 10;
}

.right-container {
  height: 560px;
  width: 723px;
  padding: 16px 16px 16px 32px;
  border: 2px solid rgb(136, 136, 136);
  box-shadow: 2px 2px 2px rgba(87, 87, 87, 0.3);
  border-radius: 15px;
  background-color: #fff;
  position: absolute;
  top: 100px;
  left: 368px;
}

.whole-container {
  height: 560px;
  width: 1017px;
  padding: 16px 16px 16px 32px;
  border: 2px solid rgb(136, 136, 136);
  box-shadow: 2px 2px 2px rgba(87, 87, 87, 0.3);
  border-radius: 15px;
  background-color: #fff;
  position: absolute;
  top: 100px;
  left: 74px;
}

.content {
  padding-right: 16px;
  height: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: rgb(247, 247, 247);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(220, 220, 220);
  border: 2px solid rgb(210, 210, 210);
}

::-webkit-scrollbar-button {
  background-color: rgb(220, 220, 220);
  border: 2px solid rgb(210, 210, 210);
  background-size: auto;
  background-position: center;
}

::-webkit-scrollbar-button:vertical:decrement {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><polygon points="5,0 0,5 10,5" fill="white"/></svg>');
}

::-webkit-scrollbar-button:vertical:increment {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><polygon points="5,10 0,5 10,5" fill="white"/></svg>');
}

input[type=range] {
  -webkit-appearance: none;
  background: linear-gradient(to right, orange 0%, orange 50%, #ececec 50%, #ececec 100%);
  width: 88px;
  height: 8px;
  accent-color: orange;
  box-shadow: inset 0 -2px 2px rgb(168, 168, 168);
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 12px;
  background-color: #ececec;
  border: 2px solid gray;
  border-radius: 8px;
  box-shadow: inset -2px -5px 3px rgb(184, 184, 184);
  cursor: pointer;
}

.nes-textarea,
.nes-input,
.nes-select select,
.nes-container {
  border-width: 2px;
}

.nes-input,
.nes-select select,
.nes-btn,
.nes-textarea {
  padding: 0;
}

.nes-select {
  margin: 0;
  width: 256px;
}

.nes-btn {
  margin: 0;
  border-width: 2px;
  width: 64px;
}

.nes-container {
  padding: 16px;
}

.nes-container.with-title>.title {
  text-transform: uppercase;
  font-size: 20px;
}

.nes-badge {
  width: 64px;
}

.nes-badge span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0.2em #000,
    0 -0.2em #000,
    0.2em 0 #000,
    -0.2em 0 #000;
}

.nes-badge span.React {
  background-color: #5dd0ec;
}

.nes-badge span.CSS {
  color: #fff;
  background-color: #2e4dff;
}

.nes-badge span.GSAP {
  background-color: #1ee917;
}

.nes-badge span.Next {
  color: #fff;
  background-color: #000;
}

.nes-badge span.Node {
  background-color: #3bc947;
}

.nes-badge span.MongoDB {
  color: #fff;
  background-color: #36775d;
}

.nes-badge span.HTML {
  color: #fff;
  background-color: #eb5f0f;
}

.nes-badge span.JS {
  background-color: #f0e227;
}

.nes-badge span.Vue {
  color: #fff;
  background-color: #133299;
}

.nes-badge span.Python {
  color: #fff;
  background-color: #4871f8;
}

.nes-badge span.C {
  color: #fff;
  background-color: #8670ff;
}