.header {
  background-color: var(--lightgray);
  border-radius: 8px;
  padding: 8px 16px;
  display: flex;

  button {
    margin-left: 8px;
  }
}

.table {
  margin-top: 36px;
  border-top: var(--border-gray);
  border-bottom: var(--border-gray);
  width: 100%;

  thead th {
    border-bottom: 2px solid rgb(224, 224, 224);
    padding: 2px 0;
    text-align: center;
  }

  td {
    padding: 2px 0;
    text-align: center;

    &:first-child {
      color: gray;
      width: 56px;
      font-size: 20px;
    }

    &:nth-child(2) {
      width: 592px;
      text-align: left;
    }

    &:nth-child(3),
    &:nth-child(4) {
      color: gray;
      font-size: 20px;
    }
  }
}

.pagination {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  div {
    height: min-content;
    line-height: 16px;
    padding: 0 8px;
    border-left: 1px solid rgb(190, 190, 190);
    cursor: pointer;

    &:last-child {
      border-right: 1px solid rgb(190, 190, 190);
    }
  }
}

.activePage {
  color: orangered;
}