.form {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  padding: 16px 24px 36px;
  background-color: var(--lightgray);
  border-top: var(--border-gray);
  border-bottom: var(--border-gray);
}

.select {
  background-color: #fff;
  border: var(--border-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 128px;
  height: 128px;

  img {
    width: 70%;
    height: 90%;
    object-fit: contain;
  }
}

.arrow {
  font-size: 24px;
  cursor: pointer;
}

.write {
  display: flex;
  flex-direction: column;
  width: 440px;
  gap: 8px;

  input {
    height: 24px;
  }

  textarea {
    height: 80px;
  }

  label {
    display: none;
  }
}

.submit {
  position: absolute;
  right: 4px;
  bottom: 4px;
  transform: translateX(-24px);
}

.entry {
  margin: 32px 0;
}

.entryHeader {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--lightgray);
  border-top: var(--border-gray);
  border-bottom: var(--border-gray);
}

.name {
  font-weight: 600;
  color: rgb(117, 132, 160);
}

.entryDate {
  color: gray;
}

.entryBody {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 0;

  img {
    width: 128px;
    height: 128px;
    object-fit: contain;
  }
}

.details {
  width: 448px;
}