.title {
  font-weight: 700;
  color: var(--mint);
  width: 50%;
  border-bottom: var(--border-gray);
}

.updatedNews {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 16px;
}

.updatedNews td {
  border: var(--border-gray);
  width: 164px;
  height: 32px;
  padding: 0 4px;
}

.empty {
  width: 50%;
  height: 112px;
  background-color: var(--lightgray);
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}

.total {
  color: var(--mint);
}

.containerTitle {
  display: flex;
  align-items: center;
  height: 32px;
  width: min-content;
  padding: 0 8px;
  border: var(--border-gray);
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  font-weight: 700;
  color: var(--mint);
}

.container {
  position: relative;
}

.miniroom {
  width: 100%;
}

.minimi {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 80px;
  left: 336px;
}

.minimi img {
  width: 72px;
  margin: 8px;
}

.bubble {
  width: fit-content;
  padding: 4px 12px;
  border: 2px solid rgb(187, 187, 187);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
}

