.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 4px;
  text-decoration: underline;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px 0;
  margin-bottom: 16px;
  border-bottom: var(--border-gray);

  div {
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-wrap: nowrap;

    &:first-child span {
      color: gray;
    }

    &:last-child {
      align-items: flex-end;
    }
  }
}

.readme {
  ul,
  li {
    list-style-type: inherit;
  }
}