.header {
  background-color: var(--lightgray);
  border-radius: 8px;
  padding: 8px 16px;
  display: flex;
}

.header button {
  margin-left: 8px;
}

.containers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 32px 0;
  gap: 32px;
}

.container{
  width: 289px;
  height: 256px;
  position: relative;
}

.container img {
  width: 100%;
}

.stacks {
  margin-top: 8px;
}