.header {
  background-color: rgb(247, 247, 247);
  border-radius: 8px;
  padding: 8px 16px;
}

.containers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 32px 0;
  font-size: 16px;
  gap: 32px;
}

.container{
  width: 289px;
  height: 256px;
  position: relative;
}

.container img {
  width: 100%;
}

.stacks {
  margin-top: 8px;
}

.explain {
  position: absolute;
  width: 100%;
  height: 90%;
  padding: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  display: none;
  background-color: #fff;
}

.container:hover .explain {
  display: flex;
  color: #000;
}