.header {
  display: flex;
  align-items: center;
}

.title {
  width: 549px;
  margin-left: 8px;
}

.buttons button {
  margin-left: 8px;
}

.stack,
.stacks {
  display: flex;
  align-items: center;
  gap: 8px;
}

.stack {
  input {
    width: 128px;
  }

  .stacks {
    margin-left: 8px;

    i {
      transform: scale(0.5);
    }
  }
}