.container {
  position: absolute;
  top: 136px;
  left: 1089.5px;
}

.index {
  background-color: rgb(0, 115, 160);
  border: 2px solid #000;
  border-radius: 0 10px 10px 0;
  color: #fff;
  text-align: center;
  padding: 8px 4px;
  margin-bottom: 4px;
}

.index.active {
  background-color: #fff;
  color: #000;
  font-weight: 600;
  z-index: 100;
  position: relative;
  border-left: none;
}