.ring {
  z-index: 1000;
  height: 8px;
  width: 32px;
  border: 2px solid rgb(136, 136, 136);
  border-radius: 8px;
  box-shadow: inset 15px 0 5px rgb(209, 209, 209);
  background-color: #fff;
  position: absolute;
  left: 342px;
}