.profile {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.divider {
  border-bottom: 2px dashed rgb(214, 214, 214);
  margin: 8px 0;
}

.today {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 32px;
  border: 2px solid rgb(180, 180, 180);
  border-radius: 8px;
  font-size: 20px;
  margin-bottom: 8px;
}

.emoji {
  height: 24px;
  margin-left: 8px;
}

.name {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.gender {
  color: orangered;
  border: 2px solid #3a3a3a;
  border-radius: 6px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.links {
  font-size: 14px;
  line-height: 24px;
}

.links a:hover {
  text-decoration: underline;
}

.copied {
  position: fixed;
  transform: translate(50%, 50%);
  padding: 4px 8px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  color: #000;
}